name: github-release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Release to GitHub
        run: |
          gh release create "${{ github.ref_name }}" \
            --draft \
            --title "Release ${{ github.ref_name }}" \
            --notes ""
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
