name: pylint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint
      - name: Analyze the code with pylint
        run: |
          pylint --fail-under=10.0 $(git ls-files '*.py')
